# Clasificación Bayes

A diferencia de los problemas de regresión (predicción) un número continuo, a diferencia de la clasificación donde obtenemos un número discreto o un texto que se puede representar como un número discreto o entero

## Dataset

In [1]:
from sklearn.datasets import make_moons

In [2]:
X, y = make_moons(n_samples=500, noise=0.3, random_state=0) # Noise es la distorsión de los datos

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(X, columns=['feature_1','feature_2'])
df.head()

   feature_1  feature_2
0   0.242771   0.890981
1  -0.579611   0.506188
2   0.242598   0.122096
3   1.683483  -0.100590
4   2.006967  -0.793060

In [5]:
df = pd.DataFrame(X, columns=['feature_1','feature_2'])
df['label']= y # Etiquetas o clases 
df.head()

   feature_1  feature_2  label
0   0.242771   0.890981      0
1  -0.579611   0.506188      1
2   0.242598   0.122096      1
3   1.683483  -0.100590      1
4   2.006967  -0.793060      1

In [6]:
# Podemos ver que se trata de una clasificación binaria, pues la variable objetivo o Y es cero o uno

import matplotlib.pyplot as plt