# Librería Pandas

In [1]:
import pandas as pd

### Series

* Tipo de dato que sustituye a la lista[] de python
* Arreglo unidimencional donde cada valor tiene una etiqueta , los valores y etiquetas pueden ser de cualquier tipo

In [12]:
# Creando una serie de python usando una lista

navegadores = ["Safari","Chrome","Firefox"]

serie_navegadores = pd.Series(navegadores)

In [8]:
serie_navegadores

0     Safari
1     Chrome
2    Firefox
3       Edge
dtype: object

In [9]:
# Crear una serie con etiquetas customisadas 

etiquetas = ["Rojo", "Verde", "Azul"]

datos_colores = [[256,0,0],[0,256,0],[0,0,256]]

serie2 = pd.Series(datos_colores, index= etiquetas)

In [10]:
serie2

Rojo     [256, 0, 0]
Verde    [0, 256, 0]
Azul     [0, 0, 256]
dtype: object

### Dataframe

* Tipo de dato que sustituye al diccionario en python
* Arrego bidimencional donde cada fila y columna tiene una etiqueta
* Los valores de las etiquetas pueden ser de cualquier tipo

In [14]:
# Tratamos de crear un DataFrame usando los valores de dos listas como si 
# fueran nuestras columnas, vemos que deben ser del mismo tamaño o da error

dataframe1 = pd.DataFrame({"Navegadores": navegadores, "Colores": etiquetas})
dataframe1

  Navegadores Colores
0      Safari    Rojo
1      Chrome   Verde
2     Firefox    Azul

In [17]:
# Lectura de datos de .csv, utilizamos el path de la imagen o una url de internet 

dataset1 = pd.read_csv("exported-titanic.csv")

In [18]:
dataset1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
dataset1.to_csv('exportado.csv', index= False) # De esta manera evitamos que en el archivo se guarden los index autogenerados por el Dataframe

In [20]:
# Podemos observar los tipos de datos que son guardados en el dataset 

dataset1.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [21]:
# Obtención de los estadísticos básicos de los datos en el dataframe.

dataset1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [22]:
# Ver las dimenciones de la tabla

dataset1.shape

(891, 12)